body {
  width: 50rem;
  margin: 0 auto;
}

#desc {
  padding: 1rem 5rem;
}

#container {
  display: flex;
}

#ingredients {
  width: 10rem;
  text-align: left;
}

#ingredients h2,
#ingredients h3,
#steps h2 {
  margin-left: -1rem;
  padding: 0.5rem 0;
}

#steps {
  margin-left: 5rem;
  text-align: left;
}

#steps li {
  margin: 0.2rem 0;
}
